[package]
name = "example_project"
version = "0.1.0"
authors = ["Lukas Lueg <lukas.lueg@gmail.com>"]
build = "build.rs"

[dependencies]
built = { version = "^0.2", path="../" }
semver = "0.9"
time = "0.1"

[build-dependencies]
built = { version = "^0.2", path="../" }
