[package]
name = "built"
version = "0.6.1"
description = "Provides a crate with information from the time it was built."
repository = "https://github.com/lukaslueg/built"
documentation = "https://docs.rs/built"
authors = ["Lukas Lueg <lukas.lueg@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["cargo", "build"]
edition = "2021"

[dependencies]
cargo-lock = { version = "9.0", default-features = false }
semver = { version = "1.0", optional = true }
chrono = { version = "0.4", optional = true, default-features = false, features = ["clock"] }
git2 = { version = "0.17", optional = true, default-features = false, features = [] }

[dev-dependencies]
tempfile = "3"

[package.metadata.docs.rs]
features = [ "chrono", "git2", "semver" ]
